Source: epydial
Section: python
Priority: extra
Maintainer: Johannes Schauer <josch@pyneo.org>
Build-Depends: debhelper (>= 7), python-support (>= 0.5.3), python
Standards-Version: 3.9.1
Homepage: http://epydial.pyneo.org

Package: epydial
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-dbus, python-evas, python-ecore, python-pyneo
Description: a short description
 a more lengthy and detailed description
